<DOCTYPE html>
  <html>
    <head>
      <title> Rick and Morty </title>
    </head>

    <body>
      <h1> Rick and Morty! </h1>
      <br>
      
      
      <form action="/result" method="POST">
	<h3> Season 1 </h3>
	{% for number in season1 %}
	<input type="submit" value="{{number}}" name= "1episode">
	{% endfor %}
      </form>
	  
      <form action="/result" method="POST">
      <h3> Season 2  </h3>
      
	{% for number in season2 %}
	<input type="submit" value="{{number}}" name="2episode">
	{% endfor %}
      </form>
	  
      <form action="/result" method="POST">
      <h3> Season 3 </h3>
      
	{% for number in season3 %}
	<input type="submit" value= "{{number}}" name="3episode">
	{% endfor %}
      </form>
    </body>
  </html>
